# Jay Bhanushali (60009200047)
---
## Boolean functions using Perceptron model

### Activation function (step function)

In [1]:
import numpy as np
import pandas as pd

X = [[0,0],[0,1],[1,0],[1,1]] # shape = 4x2

In [2]:
  def activation(yin):
    if yin >= 0:
      return 1
    return 0

### Perceptron

In [3]:
def perceptron(x,w,b):
  yin = np.dot(w,x) + b
  return activation(yin)

### AND

In [4]:
def AND(x):
  w = [1,1]
  b = -2
  return perceptron(x,w,b)

In [5]:
print("AND gate")
and_df = pd.DataFrame(columns=['X1', 'X2', 'Y'])
for x in X:
    and_df = and_df.append({'X1':x[0], 'X2':x[1], 'Y':AND(x)}, ignore_index=True)

and_df.style.hide_index()

AND gate

### OR

In [6]:
def OR(x):
  w = [1,1]
  b = -1
  return perceptron(x,w,b)

In [7]:
print("OR gate")
or_df = pd.DataFrame(columns=['X1', 'X2', 'Y'])
for x in X:
    or_df = or_df.append({'X1':x[0], 'X2':x[1], 'Y':OR(x)}, ignore_index=True)

or_df.style.hide_index()

OR gate

### NOT

In [8]:
Xnot = [0,1]

In [9]:
def NOT(x):
  w = -1
  b = 0
  return perceptron(x,w,b)

In [17]:
print("NOT gate")
or_df = pd.DataFrame(columns=['X', 'Y'])
for x in Xnot:
    or_df = or_df.append({'X':x, 'Y':NOT(x)}, ignore_index=True)

or_df.style.hide_index()

NOT gate

### NAND

In [11]:
def NAND(x):
  # w = [-1,-1]
  # b = 1
  # return perceptron(x,w,b)

  return NOT(AND(x))

In [12]:
print("NAND gate")
nand_df = pd.DataFrame(columns=['X1', 'X2', 'Y'])
for x in X:
    nand_df = nand_df.append({'X1':x[0], 'X2':x[1], 'Y':NAND(x)}, ignore_index=True)

nand_df.style.hide_index()

NAND gate

### NOR

In [13]:
def NOR(x):
  # w = [-1,-1]
  # b = 0
  # return perceptron(x,w,b)
  return NOT(OR(x))

In [14]:
print("NOR gate")
nor_df = pd.DataFrame(columns=['X1', 'X2', 'Y'])
for x in X:
    nor_df = nor_df.append({'X1':x[0], 'X2':x[1], 'Y':NOR(x)}, ignore_index=True)

nor_df.style.hide_index()

NOR gate

### XOR
` Z = (x1+x2) . ~(x1.x2) `

In [15]:
def XOR(x):
  z1 = NAND(x)
  z2 = OR(x)
  return(AND([z1,z2]))

In [16]:
print("XOR gate")
xor_df = pd.DataFrame(columns=['X1', 'X2', 'Y'])
for x in X:
    xor_df = xor_df.append({'X1':x[0], 'X2':x[1], 'Y':XOR(x)}, ignore_index=True)

xor_df.style.hide_index()

XOR gate